body{
    background-color: rgb(187, 187, 187);
}

#TituloInicial{
    text-align: center;
    margin-top: 1%;
    min-height: 600px;
}
#textoApresentacao{
    text-align: justify;
    margin-right: 24%;
    margin-left: 24%;
}

#footer{
    background-color: rgb(187, 187, 187);
}

#myChart1, #myChart2 , #myChart3, #myChart4{
    max-height: 450px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

#corpo{
    margin-right: 10%;
    margin-left: 10%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#PotenciaAtiva{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    text-align: center;
    background-color: rgb(203, 203, 203);
}

.potencia{
    color: rgb(17, 116, 12);
    font-family: 'Monomaniac One', sans-serif;
    font-size: 28px;
}

.logo{
    color: rgb(255, 255, 255);
    font-family: 'Monomaniac One', sans-serif;
    font-size: 28px;
}

.titulos{
    font-size: 32px;
    text-align: center;
    margin-bottom: 1%;
}

