body{
    background-color: rgb(187, 187, 187);
}

#footer{
    background-color: rgb(187, 187, 187);
}

#myChart1, #myChart2 {
    max-width: 76%;
    max-height: 380px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 2%;
}

#myChart3{
    max-height: 450px;
    margin-left: 10%;
    margin-right: 10%;
}

#corpo{
    margin-right: 10%;
    margin-left: 10%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#PotenciaAtiva{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    text-align: center;
    background-color: rgb(203, 203, 203);
}

.potencia{
    color: rgb(17, 116, 12);
    font-family: 'Monomaniac One', sans-serif;
    font-size: 28px;
}

